<h6 class="text-center">Cadastrar Turma</h6><br/>
<!-- Formulário -->
<form #turmaForm="ngForm" (ngSubmit)="submitarFormulario(turmaForm)"> <!-- Passando valores do formulário para função -->
  <!-- ngMODEL é como se fosse o value -->
    <input type="hidden" name="$codigoTurma" #$key="ngModel" [(ngModel)]="turmaService.turmaSelecionada.$codigoTurma">
  <div class="form-group">
    <label>Nome</label>
    <input class="form-control" name="nome" #name="ngModel" [(ngModel)]="turmaService.turmaSelecionada.nome" placeholder="Informe o nome da turma" required>
  </div>
  <div class="form-group">
    <label>Professor da turma *</label>
    <select name="professorId" [(ngModel)]="turmaService.turmaSelecionada.professorId" class="form-control">
      <option value="" selected> Selecione </option>
      <!-- FOR para listar professores -->
      <option *ngFor="let p of listaProfessores" value="{{ p.$codigoProfessor }}"> {{ p.nome }} </option>
    </select>
  </div>
  <div class="form-group">
    <label>Disciplina da turma *</label>
    <select name="disciplinaId" [(ngModel)]="turmaService.turmaSelecionada.disciplinaId" class="form-control">
      <option value="" selected> Selecione </option>
      <!-- FOR para listar disciplinas -->
      <option *ngFor="let d of listaDisciplinas" value="{{ d.$codigoDisciplina }}"> {{ d.nome }} </option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-success" type="submit" [disabled]="!turmaForm.valid"> <!-- botão só é clicável quando formulario está completo-->
      <i class="fa fa-check"></i>
       Salvar
    </button>
    <button class="btn btn-default" type="button" (click)="resetarFormulario(turmaForm)">
      <i class="fa fa-tr"></i>
       Limpar
    </button>
  </div>
</form>