<form #turmaForm="ngForm" (ngSubmit)="submitarFormulario(turmaForm)">
    <input type="hidden" name="$codigoTurma" #$key="ngModel" [(ngModel)]="turmaService.turmaSelecionada.$codigoTurma">
  <div class="form-group">
    <label>Nome</label>
    <input class="form-control" name="nome" #name="ngModel" [(ngModel)]="turmaService.turmaSelecionada.nome" placeholder="Informe o nome da turma" required>
  </div>
  <div class="form-group">
    <label>Professor da turma *</label>
    <select name="professorId" [(ngModel)]="turmaService.turmaSelecionada.professorId" class="form-control">
      <option value="" selected> Selecione </option>
      <!-- <option *ngIf="listaProfessores.length == 0"><i>Nenhum professor cadastrado</i></option> -->
      <option *ngFor="let p of listaProfessores" value="{{ p.$codigoProfessor }}"> {{ p.nome }} </option>
    </select>
  </div>
  <div class="form-group">
    <label>Disciplina da turma *</label>
    <select name="disciplinaId" [(ngModel)]="turmaService.turmaSelecionada.disciplinaId" class="form-control">
      <option value="" selected> Selecione </option>
      <!-- <option *ngIf="listaProfessores.length == 0"><i>Nenhum professor cadastrado</i></option> -->
      <option *ngFor="let d of listaDisciplinas" value="{{ d.$codigoDisciplina }}"> {{ d.nome }} </option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-success" type="submit" [disabled]="!turmaForm.valid">
      <i class="fa fa-check"></i>
       Cadastrar
    </button>
    <button class="btn btn-default" type="button" (click)="resetarFormulario(turmaForm)">
      <i class="fa fa-tr"></i>
       Limpar
    </button>
  </div>
</form>

<table class="ui very basic table" *ngIf="turmaService.turmaSelecionada.$codigoTurma">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Idade</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of listaAlunos">
      <td> {{ a.nome }} </td>
      <td> {{ a.sobrenome }} </td>
      <td> {{ a.idade }} </td>
      <td class="right aligned">
        <span *ngIf="isAlocado(a.$codigoAluno)">Alocado</span>
        <button *ngIf="!isAlocado(a.$codigoAluno)" class="ui green button" (click)="alocarAluno(a, turmaService.turmaSelecionada.$codigoTurma)">
          <i class="fa fa-arrow-right"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <table class="ui very basic table" *ngIf="turmaService.turmaSelecionada.$codigoTurma">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of turmaService.turmaSelecionada.listaAlunos">
        <td> {{ a.nome }} </td>
        <td> {{ a.sobrenome }} </td>
        <td> {{ a.idade }} </td>
        <td class="right aligned">
          <button class="ui green button" (click)="alocarAluno(a, turmaService.turmaSelecionada.$codigoTurma)">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table> -->